<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<p>Pokemon:</p>
<% Pokemon.where(trainer_id: @trainer.id).each do |p| %>
    <%= image_tag("pokemon/#{p.ndex}.png", alt: "pokemon") %>
    <p>
    <%= p.name %> (Lvl <%= p.level %>)<br>
    Health: <%= p.health %> <%= button_to "Damage!", damage_path(id: p), :class => "button medium", :method => :patch %>
    </p>
<% end %>
